textarea {
	width: 100%;
	height: 10em;
}
section table th,
section table td {
	padding: 3px;
	border-left: none;
	border-right: none;
}
.right-col {
	background-repeat: no-repeat;
	background-position: 23px 58px;
}
.holder {
	position: relative;
	overflow: visible;
	height: 100px;
	width: 100px;
	border: 1px solid black;
	background-color: #cccccc;
	margin: 50px;
}

.transform {
	height: 100px;
	width: 100px;
	background-color: deeppink;
	border: 5px solid black;
	padding: 10px;
}

.transform-ie {
	/*-moz-transform-origin: top left;
	-webkit-transform-origin: top left;
	-o-transform-origin: top left;*/
	position: relative;
}
